<div class="container" >
    <h3>Create User</h3>
    <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label > Name <span style="color: red;"> : {{invalidMessage}}</span></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="Object.name" name="name" #name="ngModel" placeholder="Your name.." required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label >Email <span style="color: red;"> : {{invalidMessage}}</span></label>
      </div>
      <div class="col-75">
        <input type="email" [(ngModel)]="Object.email" name="email" #email="ngModel" placeholder="Your email.." required>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Address <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
          <input type="text" [(ngModel)]="Object.address" name="address" #adrress="ngModel" placeholder="Your address.." required>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Phone <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
          <input type="text" [(ngModel)]="Object.phone" name="phone" #phone="ngModel" placeholder="Your phone.." required>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Img <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
          <input type="url" [(ngModel)]="Object.img" name="img" #img="ngModel" placeholder="Your url img.." required>
        </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" (click)="send(name,email,adrress,phone,img)" value="Add User">
    </div>
    <div class="clear"></div>
    </form>
  </div>
