<div class="container" >
    <h3>Update Task</h3>
    <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label > Title <span style="color: red;"> : {{invalidMessage}}</span></label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="Object.titleTask" name="titleTask" #titleTask="ngModel" placeholder="Write title.." required>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Subject <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
            <textarea [(ngModel)]="Object.badyTask" name="badyTask" #badyTask="ngModel" placeholder="Write subject.." style="height:200px" required></textarea>
          </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Date <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
          <input required type="date" [(ngModel)]="Object.date" name="date" #date="ngModel" required pattern="\d{4}-\d{2}-\d{2}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Loction <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
          <input  required type="text" [(ngModel)]="Object.location" name="location" #location="ngModel" placeholder="Your loction..">
        </div>
    </div>

    
    <br>
    <div class="row">
      <input type="submit" (click)="send(titleTask , badyTask ,date,location)" value="Update task">
    </div>
    <div class="clear"></div>
    </form>
  </div>
