<div class="container" >
    <h3>Create Post</h3>
    <form >
    <div class="row">
      <div class="col-25">
        <label >title  <span style="color: red;"> : {{invalidMessage}}</span></label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" [(ngModel)]="Object.title" name="title" #title="ngModel" placeholder="Write title.." required  >
        
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label >Subject <span style="color: red;"> : {{invalidMessage}}</span></label>
        </div>
        <div class="col-75">
          <textarea required class="form-control" [(ngModel)]="Object.body" name="body"  #body="ngModel" placeholder="Write subject.." style="height:200px" ></textarea>
          
        </div>
        
    </div>
    <br>
    <div class="row">
      <input type="submit" (click)="send(title,body)" value="Add Post">
    </div>
    <div class="clear"></div>
    </form>
  </div>

